<% if flash.present? %>
<br />
<div class="row">
  <div class="large-12 columns">
    <% flash.each do |level, message| %>
    <div data-alert class="<%= flash_class(level) %>">
      <i class="<%= flash_icon(level) %>"></i>
      <%= message %>
      <a href="#" class="close">&times;</a>
    </div>
    <% end %>
  </div>
</div>
<% end %>
